{%extends 'base.html'%}
{%block content%}

<div class="col-lg-6 col-sm-6">
    <div class="card hovercard">
	<div class="useravatar">
            <img alt="" src="{{url_for('static', filename="profilePics/" + user.profilePic)}}" width:"200px" height="200px">
        </div>
        <div class="card-info"> <span class="card-title">{{user.username}}</span>
        </div>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="wall" class="btn btn-default" href="#posts" data-toggle="tab"><span class="glyphicon glyphicon-th-list	
" aria-hidden="true"></span>
                <div class="hidden-xs">Wall</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="info" class="btn btn-default" href="#infoList" data-toggle="tab"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
                <div class="hidden-xs">Info</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="friends" class="btn btn-default" href="#friendList" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <div class="hidden-xs">Friends</div>
            </button>
        </div>
    </div>

        <div class="well">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="posts">
	<div class="form-group">
		{%if ownProfile%}
			<form>
				<a href="/wallPost/new" class="btn btn-info" role="button">Create new post</a>
			</form>
		{%endif%}
	</div>

          {% for post in wallPosts %}
		<div class="panel panel-default">
			{% if ownProfile %}
				<a href="/wallpost/delete/{{post.id}}"><button type="button" class="close" aria-label="Close">
  				<span aria-hidden="true">&times;</span>
				</button>
				</a>
			{% endif %}
  			<div class="panel-body">{{post.body}}</div>
  			<div class="panel-footer">{{post.timeStamp.replace(microsecond=0).isoformat(' ')}}  <span class="pull-right">Likes: {{post.likes}} {% if not ownProfile %} <a  href="/post/like/{{user.username}}/{{post.id}}"><button type="button" id="like{{post.id}}" class="btn btn-default btn-sm" >
          		</span><span class="glyphicon glyphicon-thumbs-up"></span> Like </button></a>{% endif %}
		 </div>
		</div>
	  {% endfor %}
        </div>
        <div class="tab-pane fade in" id="infoList">
			{%if user.name != None and  user.name != "" %}
				<div class="panel panel-default">
					<div class="panel-body">{{user.name}}</div>
				</div>
			{% endif %}      
                        <div class="panel panel-default">
	                        <div class="panel-body">Joined: {{user.joinDate.date()}}</div>
                        </div> 
		<div class="panel panel-default">
			{%if ownProfile%}
                       		        <div class="panel-footer"><a href="/profile/update" class="btn btn-info" role="button">Update Profile</a></div>
                	{%endif%}
		</div>
	</div>
        <div class="tab-pane fade in" id="friendList">
	{%if ownProfile%}
		<div class="panel-footer"><a href="/search/user" class="btn btn-info" role="button">Find friends</a></div>
	{%else%}
		{% if isFriend %}
                        <div class="panel-footer"><a href="/delete/user/{{user.username}}" class="btn btn-info" role="button">Delete friend</a></div>
		{% else%}
                	<div class="panel-footer"><a href="/add/user/{{user.username}}" class="btn btn-info" role="button">Add friend</a></div>
		{% endif%}
	{%endif%}
          {% if friendsList %}
		 {% for friend in friendsList%}
                	<div class="panel panel-default">
		 	{% if ownProfile %}
                       		<a href="/delete/user/{{friend.username}}"><button type="button" class="close" aria-label="Close">
                       		<span aria-hidden="true">&times;</span>
                       		</button>
  	               		</a>
                 	{% endif %}
                        <div class="panel-body"><a href="/profile/{{friend.username}}">{{friend.username}}</a></div>
                	</div>
          	{% endfor %}
		{%if not ownProfile%}
			{%if isFriend and not isTwoWayFriend%}
                                This user is your friend, however they have not added you back yet!
			{%endif%}
                        <hr>
                        <small>Remember: Friendships may be one-sided, as well!</small>
                {%endif%}
	  {%else%}
		{%if ownProfile%}
			You currently have no friends. Search for a user and add them to have quick access to their profile!
		{%else%}
			{%if isFriend and not isTwoWayFriend%}
				This user is your friend, however they have not added you back yet!
			{%else%}
				This user currently has no friends! 
			{%endif%}
		{%endif%}
		{%if not ownProfile%}
			<hr>
			<small>Remember: Friendships may be one-sided, as well!</small>
		{%endif%}
	{%endif%}
        </div>
      </div>
    </div> 
    </div>

{%endblock%}
